{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "gulpfile.js",
        "gulp/**/*.js",
        "webpack.config.js"
      ],
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
